<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby page</title>
</head>
<body>
    <h1>You Are In The Lobby #{{ lobby_id }}</h1>

    <a href="/">Back to main menu</a>

    <h2>Lobby chat</h2>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>

    {{ lobby_id|json_script:"lobby-id" }}
    <script type="text/javascript">
        const lobbyId = JSON.parse(document.getElementById('lobby-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + lobbyId
            + '/'
        );


        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data);
            console.log('Data:', data);

            if (data.type === "chat"){
                let messages = document.getElementById("messages")
                messages.insertAdjacentHTML("beforeend", `<div><p>${data.message}</p></div>`)
            }

        }

        let form = document.getElementById("form");
        form.addEventListener("submit", (e)=> {
            e.preventDefault();
            let message = e.target.message.value;
            chatSocket.send(JSON.stringify({
                "message": message
            }));
            form.reset();
        });
    </script>
</body>
</html>
