{% extends "base.html" %}

{% block title %}Lobby page{% endblock %}

{% block colour_0 %}"#3dccc7"{% endblock %}
{% block colour_1 %}"#68d8d6"{% endblock %}
{% block colour_2 %}"#9ceaef"{% endblock %}
{% block colour_3 %}"#07beb8"{% endblock %}
{% block colour_4 %}"#8cdedc"{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lobby_page.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <h2>You Are In The Lobby</h2>
    <h1>#{{ lobby_id }}</h1>

    <h3>Players joined:</h3>
    <ul id="players"></ul>

    <div class="buttons">
        {% if is_admin %}
        <button class = "start_button" onclick="startGame();">Start Game!</button>
        {% endif %}
        <button class = "leave_button" onclick="window.location.href='/';">Leave Lobby</button>
    </div>

    {{ lobby_id|json_script:"lobby-id" }}
    <script type="text/javascript">
        const lobbyId = JSON.parse(document.getElementById('lobby-id').textContent);

        const rouletteSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/lobby/'
            + lobbyId
            + '/'
        );

        rouletteSocket.onclose = function (closeEvent)
        {
            console.log(closeEvent);
            window.location.href = '/';
        }

        rouletteSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('Data:', data);

            switch(data.type) {
                case "chat":
                    let messages = document.getElementById("messages")
                    messages.insertAdjacentHTML("beforeend", `<div><p>${data.message}</p></div>`);
                    break;
                case "update_lobby_info":
                    let players = document.getElementById("players");
                    players.innerHTML = '';
                    for (let i = 0; i < data.player_names.length; i++) {
                        let liElement = document.createElement('li');
                        liElement.textContent = data.player_names[i].name;
                        liElement.classList.add('item');
                        if(data.player_names[i].ivan) {
                            liElement.classList.add('rainbow-text');
                        }
                        players.appendChild(liElement);
                    }
                    break;
                case "start_game":
                    window.location.href='/lobby/{{ lobby_id }}/game/';
                    break;
            }
        }

        function startGame() {
            rouletteSocket.send(JSON.stringify({
                "type": "start_game",
            }));
        }

        let form = document.getElementById("form");
        form.addEventListener("submit", (e)=> {
            e.preventDefault();
            let message = e.target.message.value;
            rouletteSocket.send(JSON.stringify({
                "type": "chat",
                "message": message
            }));
            form.reset();
        });
    </script>
{% endblock %}
