{% extends "../base/base.html" %}

{% block title %}Login page{% endblock %}

{% block colour_0 %}"#7cc6fe"{% endblock %}
{% block colour_1 %}"#f9b4ed"{% endblock %}
{% block colour_2 %}"#7fdeff"{% endblock %}
{% block colour_3 %}"#ef94d5"{% endblock %}
{% block colour_4 %}"#c4c7ff"{% endblock %}

{% block style %}
<style>
body{
    margin: 0px;
    height: 100%;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.wrap-layer{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.text-layer{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    /*non-critical styles left out*/
}
.background-layer{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}

h1 {
    color: rgb(29, 51, 190);
    font-family: 'Fredoka One', "Times New Roman", Times, serif;
    font-size: 7vw;
    text-align: center;
    margin-left: 1.5vw;
    margin-top: 7vh;
    padding-top: 2%;
}
.login-box {
    margin-top: 10vh;
}
input {
    font-family: 'Poppins', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 50vw;
    border: 0;
    margin-top: 2vh;
    padding: 15px;
    box-sizing: border-box;
    font-size: 3vmin;
    color: rgb(29, 78, 156);
}
button{
    margin-top: 2vh;
    border: hidden;
    font-family: 'Fredoka One', "Times New Roman", Times, serif;
    font-size: 6vmin;
    background: rgb(29, 51, 190);
    width: 50vw;
    height: 10vh;
    color: rgb(94, 239, 255);
    font-weight: bold;
    border-radius: 15px;
    transition: .5s;
}
button:hover{
    transform:scale(1.06);
}
div{
    text-align:center;
}
</style>
{% endblock %}

{% block body %}
    <h1>Welcome to Music Roulette!</h1>
    {% if errors %}
      <ul class="errorlist">
        {% for error_field, error_description in errors.items %}
          <li>{{ error_description }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="login-box">
        <form method="post">
            {% csrf_token %}{{ form }}
            <button type="submit">Play!</button>
        </form>
    </div>
    <img src="https://media.tenor.com/gXMtMCZ5WccAAAAd/cat-head-bump-cat-nodding.gif" style="margin-top:5vh;width:20vh;height:20vh;">

{% endblock %}
