body{
    margin: 0px;
    height: 100%;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.wrap-layer{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.text-layer{
    position: absolute;
    margin: 30px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    /*non-critical styles left out*/
}
.background-layer{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}
h0{
    position: fixed;
    font-size: 2vmin;
    top: 0vh;
    left: 0vw;
    width: 15vw;
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: lavender;
    color:rgb(0, 0, 0);
    border-right: .1vw solid rgb(125, 81, 212);
}
.logout_button{
    position: fixed;
    top: 7vh;
    left: 0vw;
    font-size: 2vmin;
    width: 15vw;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(125, 81, 212);
    color:#ffffff;
    border: none;
    border-radius: 0 0 15px 0;
}
.logout_button:hover{
    transform:scale(1);
}
.rainbow-text{
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}
