{% extends "../base/base.html" %}

{% block title %}Play Music Roulette{% endblock %}

{% block body %}
    <h1>Welcome to the Music Roulette</h1>

    <p>Create a new game:</p>
    <a href="/lobby/12345/">
        <button>Create Game</button>
    </a>

    <p>Or Join Existing Game:</p>
    {% if lobby_list %}
        <ul>
        {% for lobby in lobby_list %}
            <li><a href="/lobby/{{ lobby.id }}/">{{ lobby.id }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lobbys running...</p>
    {% endif %}
{% endblock %}

